<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID_ClassBookingSystem" version="4.0">
  
  <display-name>ClassBookingSystem</display-name>
  
  <welcome-file-list>
    <welcome-file>classList</welcome-file> <welcome-file>login.jsp</welcome-file> 
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>com.classbooking.filter.AutoLoginFilter</filter-class>
    </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher> 
    </filter-mapping>

  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.classbooking.filter.AuthenticationFilter</filter-class>
    </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
  <!-- 
      Servlet declarations and mappings are handled by @WebServlet annotations
      in your servlet classes (e.g., LoginServlet, ClassListServlet, etc.).
      No need to declare <servlet> or <servlet-mapping> here for those.
  -->

  <!--
  <error-page>
      <error-code>404</error-code>
      <location>/error.jsp</location> 
  </error-page>
  <error-page>
      <exception-type>java.lang.Throwable</exception-type>
      <location>/error.jsp</location>
  </error-page>
  -->

</web-app>